@model eMoneyApi.Models.DetailedClient
@{
    ViewBag.Title = "EditClient";
}


<div style="padding: 15px 15px 0px 15px; height:85%;">
    <div>
        <h2 style="margin: 0 auto; width: 300px;">Update @Model.client.firstName @Model.client.lastName</h2>
        <br /><br />
    </div>
    <div class="row">
        <div id="divClientAssertionInfo" style="padding: 0px 15px 0px 15px; vertical-align:top;">
            @Html.ValidationSummary()
            @using (Html.BeginForm("EditClient", "Auth", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                @*@Html.HiddenFor(m => m.maritalStatus, new { Value = Model.maritalStatus })
                @Html.HiddenFor(m => m.ownerId, new { Value = Model.ownerId })
                @Html.HiddenFor(m => m.client.gender, new { Value = Model.client.gender })
                @Html.HiddenFor(m => m.client.inGoodHealth, new { Value = Model.client.inGoodHealth })
                @Html.HiddenFor(m => m.client.job, new { Value = Model.client.job })*@
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.client.firstName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.client.firstName, new { htmlAttributes = new { @class = "form-control", style = "max-width:400px;" } })
                            @Html.ValidationMessageFor(model => model.client.firstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.client.lastName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.client.lastName, new { htmlAttributes = new { @class = "form-control", style = "max-width:400px;" } })
                            @Html.ValidationMessageFor(model => model.client.lastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.client.dateOfBirth, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.client.dateOfBirth, new { htmlAttributes = new { @class = "form-control", style = "max-width:400px;" } })
                            @Html.ValidationMessageFor(model => model.client.dateOfBirth, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.client.cellPhone, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.client.cellPhone, new { htmlAttributes = new { @class = "form-control", style = "max-width:400px;" } })
                            @Html.ValidationMessageFor(model => model.client.cellPhone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.homePhone, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.homePhone, new { htmlAttributes = new { @class = "form-control", style = "max-width:400px;" } })
                            @Html.ValidationMessageFor(model => model.homePhone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
            <br /><br />
        </div>
    </div>
</div>
