@model eMoneyApi.Models.ClientAssertionInfoViewModel

@{
    ViewBag.Title = "Index";
}

<div style="padding: 15px 15px 0px 15px; height:85%;">
    <div>
        <h2 style="margin: 0 auto; width: 300px;">eMoney Access API</h2>
        <br /><br />
    </div>
    <div class="row">
        <div id="divClientAssertionInfo" style="padding: 0px 15px 0px 15px; vertical-align:top;">
            @Html.ValidationSummary()
            @using (Html.BeginForm("Index", "Auth", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Cert_Name, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Cert_Name, new { htmlAttributes = new { @class = "form-control", style = "max-width:400px;" } })
                            @Html.ValidationMessageFor(model => model.Cert_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.API_ClientID, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.API_ClientID, new { htmlAttributes = new { @class = "form-control", style = "max-width:400px;" } })
                            @Html.ValidationMessageFor(model => model.API_ClientID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Auth_Url, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Auth_Url, new { htmlAttributes = new { @class = "form-control", style = "max-width:400px;" } })
                            @Html.ValidationMessageFor(model => model.Auth_Url, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-10">
                            <input type="submit" value="Generate Token and Make Get Client Call" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
            <br /><br />
        </div>
    </div>
</div>

